.illustrationHome {
    display: inline-block;
    margin-left: 70%;
    margin-top: -8%;
    width: 25rem;
    transition-duration: 300ms;
}

.homeButtonGradient {
    background: rgb(236,125,94);
    background: linear-gradient(90deg, rgba(236,125,94,1) 0%, rgba(232,159,113,1) 50%, rgba(223,92,213,1) 100%);
    font-size: 20px;
    color: white;
    font-weight: 600;
    transition-duration: 300ms;
    font-family: 'Poppins';
    margin-top: 4%;
}

.homeButtonGradient:hover {
transform: scale(1.025);
/* background: linear-gradient(90deg, rgba(223,92,213,1) 0%, rgba(232,159,113,1) 50%, rgba(236,125,94,1) 100%); */
}

.illustrationHome:hover {
    transform: scale(1.01);
}

.animationHome {
    width: 64%;
    margin-left: 47%;
    margin-top: -20%;
}

.tippinCryptoTextHome {
    transition-duration: 300ms;
}

.tippinCryptoTextHome:hover {
    transform: scale(1.01);
}

.mainTextHome {
    font-family: 'Poppins';
    font-weight: bold;
    animation-name: fadeInHome;
    animation-duration: 500ms;
}

.setCursorToBtn {
    cursor: pointer;
}

.homeNinjaPng {
    width: 40%;
    margin-right: -50%;
    margin-left: 60%;
    margin-top: -24.5%;
    animation-name: fadeInHome;
    animation-duration: 1000ms;
}

@keyframes fadeInHome {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.TextIllustration {
    display: inline-block;
    margin-top: -50%;
}

.mainHomeElements {
    background-color: #1f202b;
    height: 46rem;
}

@media only screen and (max-width: 1920px) {
    .homeNinjaPng {
        width: 40%;
        margin-right: -50%;
        margin-left: 65%;
        margin-top: -27%;
    }

    .mainHomeElements {
        height: 30rem;
    }
    .mainTextHome {
        font-family: 'Poppins';
        font-weight: bold;
        margin-top: -5%;
        margin-left: -5%;
    }

    .homeButtonGradient {
        margin-top: 4%;
        margin-left: -5%;
    }
}